body {

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

}

/* CABEÇAÇHO */
.cabecalho{
    flex-basis: 30%;
}
.cabecalho__logo{
    margin-bottom: 50px;
}
.cabecalho__logo img {

}
.cabecalho__logo figcaption{
    display: none;
}

.cabecalho__menuNavegaçao {

}
.cabecalho__menuLista {

}
.cabecalho__menuItem {
    margin-bottom: 25px;
}
.cabecalho__menuItem img {
    max-width: 26px;
}
.cabecalho__menuItem a {
    color: #000;
    text-decoration: none;
    font-size: 22px;
    vertical-align: top;
}

/* CONTEUDO PRINCIPAL */
.conteudoPrincipal{
    flex-basis: 70%;

}
.conteudoPrincial__titulo{

}
.conteudoPrincipal__formulario{

}
.conteudoPrincipal__formulario textarea {

}
.conteudoPrincipal__formulario button {

}
.conteudoPrincipal__feed{

}
.conteudoPrincipal_listaTweets{

}
.conteudoPrincipal__tweet{

}
.tweet__fotoPerfil{

}
.tweet__conteudo{

}
.tweet__conteudo h2 {

}
.tweet__conteudo span {

}
.tweet__conteudo p {

}
